.card {
  /* Add shadows to create the "card" effect */
  border: 1.5px solid $green-light;
  background: transparent;
  padding: 0.5em;
  box-shadow: none;
  text-align: center;
  .container-box {
    padding: 2px 16px;

  }
  .avatar {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 40%;
    clip-path: circle(50% at 50% 50%);
  }
}



.title {
  display: block;
  overflow: hidden;
  margin-left: 1em;
  margin-right: 1em;

  .heading {
    display: inline-block;
    position: relative;
    font-size: 0.8em;
    /*font-weight: bold;*/
    &:before {
      position: absolute;
      content: "";
      top: 50%;
      border-bottom: 2px solid;
      border-color: $green;
      width: 200px;
      right: 100%;
      margin-right: 20px;
    }
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      border-bottom: 2px solid;
      border-color: $green;
      width: 200px;
      left: 100%;
      margin-left: 20px;
    }
  }
}
