$green:#3b8070;
$green-light:rgba($green,0.1);


hr {

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid $green;
  background: $green;
}

code {
  box-shadow: none;
  &:before{
    content: '';
  }
}
